      <style>

      body{
        width: 200px;
        background-color: black;
     
      }
      
      header {
          margin-left: 2%;
      }
      nav ul{
        text-align: center;
        background-color: #00497d;
        width: 98%;
        height: 35px;
        margin-top: 3px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding: 2px;
      
      }
      nav ul, nav li{
        display:inline-block;
        vertical-align: middle;
        background-color: #00497d; 
        text-align: center;
        padding-left: 1em;
          
      }
      nav a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      nav a:hover {
        color: lightblue;
        background-color: transparent;
        text-decoration: none;
      }
      main {
        width: 70%;
        border: 1px solid;
        color: #00497d;
        margin-left: 15%;
        margin-right: 15%;
        
        font-family: 'Roboto', sans-serif;
        overflow: hidden;

      }
     div.tunnus{
        width: 90%;
        
        border-bottom: 1px solid;
        border-left: 4px solid;
        color: #00497d ;
        margin-left: 5%;
        margin-right: 5%;
        
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        

      }

div.two{
        width: 90%;
       
        border-top: 1px solid;
        color: #00497d ;
        margin:auto;
        text-align:center;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
}
.arrow-down {
  width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}
p.one {
    font-size: 20px;
}
     
      section {
        margin-right:250px;
        margin-left: 15px;
        display:block;
        padding: 10px;
        color: #00497d;
      }
      article {
        border-top: 1px solid;
        padding: 10px;
      }
      article img {
        float: right; 
        margin-bottom: 5px;
        margin-left: 5px;
      }
      article p {
        color: black;
        font-size: 18px;
      }
      main aside, main section {
        padding-bottom: auto;
        margin-bottom: 10px;
      }
      aside {
        float: right;
        width: 230px;
        height: 400px;
        background-color: #f2f2f2;
        padding: 5px;
        margin: 10px;
        font-size: 16px;
      }
      footer {
        clear:both;
        margin: 15px 25px 15px 16%;
        font-family: 'Roboto', sans-serif;
      }
      


      .button1 {
    float: right;
    margin-top: 2px;
    
    font-size: 20px;
    
}
      .button2{
          display:block;
    width: 5em;
    margin:0 auto;
    margin-top: 2px;
    font-size: 20px;
}

#triangle-up {
	background-color: #ffffff;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 10px solid #00497d;
    margin:0 auto;
    margin-top: 2px;
}
      </style>