<style>

      body{
        width: 200px;
        background-color: black;
     
      }
      
      header {
          margin-left: 2%;
      }
      nav ul{
        text-align: center;
        background-color: #00497d;
        width: 98%;
        height: 35px;
        margin-top: 3px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding: 2px;
      
      }
      nav ul, nav li{
        display:inline-block;
        vertical-align: middle;
        background-color: #00497d; 
        text-align: center;
        padding-left: 1em;
          
      }
      nav a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      nav a:hover {
        color: lightblue;
        background-color: transparent;
        text-decoration: none;
      }
      main {
        width: 70%;
        border: 1px solid;
        color: #00497d;
        margin-left: 15%;
        margin-right: 15%;
        
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
      }
      width: 70%;
        border: 1px solid;
        color: #00497d;
        margin-left: 15%;
        margin-right: 15%;
        
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
      
      article img {
        float: right; 
        margin-bottom: 5px;
        margin-left: 5px;
      }
      article p {
        color: black;
        font-size: 18px;
      }
      main aside, main section {
        padding-bottom: auto;
        margin-bottom: 10px;
      }
      aside {
        float: right;
        width: 230px;
        height: 400px;
        background-color: #f2f2f2;
        padding: 5px;
        margin: 10px;
        font-size: 16px;
      }
      footer {
        clear:both;
        margin: 15px 25px 15px 16%;
        font-family: 'Roboto', sans-serif;
      }    
      span.dropt {
        background: #ffffff;
        float: right;
        padding-right: 10px;
   
      }
      span.dropt:hover {
        text-decoration: none; 
        background: #ffffff; 
        z-index: 6; 
      }
      span.dropt span {
        position: absolute; 
        left: -9999px;
        margin: 20px 0 0 0px; 
        padding: 5px 5px 5px 5px;
        border-style:solid; 
        border-color:black; 
        border-width:1px; z-index: 6;
      }
      span.dropt:hover span {
        left: 45%; 
        background: #ffffff;
      } 
      span.dropt span {
        position: absolute; 
        left: -9999px;
        margin: 4px 0 0 0px; 
        padding: 5px 5px 5px 5px; 
        border-style:solid; 
        border-color:black; 
        border-width:1px;
      }
      span.dropt:hover span {
        margin: 20px 0 0 170px; 
        background: #ffffff; 
        z-index:6;
      }
      div {
        margin-right: 10%;
      }
      div.two{
        width: 90%;
       
        border-top: 1px solid;
        color: #00497d ;
        margin:auto;
        text-align:center;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
}
      input[type="image"] {
        background-color: transparent;
        border-color: transparent;
      }
      input[type="image"]:hover{
        background-color: transparent;
        border-color: transparent;
      }
      input[type="image"]:visited {
        background-color: blue;
        border-color: transparent;
      }
      input[type="image"]:active {
        background-color: black;
        border-color: transparent;
      }
      input[type="image"]:link {
        background-color: black;
        border-color: transparent;
      }
      #triangle-up {
	background-color: #ffffff;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 10px solid #00497d;
    margin:0 auto;
    margin-top: 2px;
}
form{
    border-bottom: 1px solid;
        border-left: 4px solid;
        color: #00497d ;
    padding-bottom: 3px;
}
.dropt{
    border-bottom: 1px solid;
    color: #00497d ;
    
}
      </style>